@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: #282828;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

.card {
    background-color: #414141;
    height: auto;
}

.navMainBtn {
    padding: 10px 20px;
    background-color: #414141;
    color: #5c9ae0;
    border: none;
    border-radius: 5px;
}

.navMainBtn:hover {
    background-color: #3d4c61;
}

.mainH1 {
    color: #e6e6e6;
}

.mainImage {
    margin-left: auto;
    margin-right: auto;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.inviteBotList h2 {
    color: #e6e6e6;
}

.cropCircle {
    border-radius: 50%!important;
}

.loadScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.mynavbar {
    background-color: #282828!important;
    z-index: 999;
}

.mya {
    color: #e6e6e6!important;
}

.mya:hover {
    color: #3498db!important;
}

.en-th-icon {
    width: 20px;
    height: 20px;
}

.genText {
    color: #e6e6e6!important;
}

.onlineText {
    color: #3cf783;
}

.offlineText {
    color: #f73c7a;
}

.ccText {
    color: #e6e6e6;
    text-decoration: none;
}

.ccText:hover {
    color: #5c9ae0;
}

.myDocs {
    margin-top: 200px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #333;
    left: -250px;
    transition: left 0.3s;
    z-index: 999;
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}